<div class="divservice">
    <div class="title">
        <div id="pagetitle">Services</div>
        <div id="message">You can trust our professionalism and punctuality</div>
    </div>
    <div class="photosarea">
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/tours.jpg') %>" alt="" width="194" height="173" /></div>
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/transfers.jpg') %>" alt="" width="194" height="173" /></div>
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/airporttransfers.jpg') %>" alt="" width="193" height="174" /></div>
    </div>
    <div class="photosarea">
        <div class="textarea">
            <div><li>
                <a href="services?page=city_tour"><strong>Havana City Tour</strong><br/>
                </a>
            </li></div>
            <li>
                <a href="services?page=vinales"><strong>Viñales Tour</strong></a>
            </li>
            <li><a href="services?page=arch"><strong>Architecture Tour</strong></a></li>
            <li><a href="services?page=habano"><strong>Habano and Rum Tour</strong></a></li>
            <li><a href="services?page=fort"><strong>Fortresses Tour</strong></a></li>
            <li><a href="services?page=museum"><strong>Museum Tour</strong></a></li>
        </div>
        <div class="textarea">
            <p>If you need a transfer from one city to another one during your stay in Cuba, please <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us</a>.</p></div>
        <div class="textarea">
            <p id="lastp">If you need a transfer from the airport to your hotel in Havana, or to the airport once your stay in Cuba has come to an end, please  <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us</a>.</p></div>


    </div>
</div>