<div class="divservice">
    <div class="title">
        <div id="pagetitle">Servicios</div>
        <div id="message">Puede confiar en nuestro profesionalismo y puntualidad</div>
    </div>
    <div class="photosarea">
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/tours.jpg') %>" alt="" width="194" height="173" /></div>
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/transfers.jpg') %>" alt="" width="194" height="173" /></div>
        <div class="picsarea"><img src="<%= image_path(session[:lang].to_s + '/airporttransfers.jpg') %>" alt="" width="193" height="174" /></div>
    </div>
    <div class="photosarea">
        <div class="textarea">
            <div><li>
                <a href="services?page=city_tour"><strong>Recorrido por Ciudad Habana</strong><br/>
                </a>
            </li></div>
            <li>
                <a href="services?page=vinales"><strong>Recorrido en Viñales</strong></a>
            </li>
            <li><a href="services?page=arch"><strong>Recorrido de Arquitectura</strong></a></li>
            <li><a href="services?page=habano"><strong>Recorrido del Habano y del Tabaco</strong></a></li>
            <li><a href="services?page=fort"><strong>Recorrido de Fortalezas</strong></a></li>
            <li><a href="services?page=museum"><strong>Recorrido de Museos</strong></a></li>
        </div>
        <div class="textarea">
            <p>Si durante su estancia en Cuba necesita un traslado de una ciudad a otra, no dude en <a class="emaillink" href="mailto:havanaexplore@gmail.com">contactarnos</a>.</p></div>
        <div class="textarea">
            <p id="lastp">Si necesita traslado desde el aeropuerto hasta su hotel en La Habana, o hacia el aeropuerto, no dude en <a class="emaillink" href="mailto:havanaexplore@gmail.com">contactarnos</a>.</p></div>


    </div>
</div>