<div class="divservice">
  <div class="title">
    <div id="pagetitle">Fortresses Tour</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>Since the port of Havana was crucial for the trade in the island, a system of fortresses was built for its defense in colonial times. These fortresses are part of the area that was declared a UNESCO World Heritage Site. In this tour, you will visit the Castle of the Royal Force, the remains of the ancient City Walls, the San Carlos de la Cabaña Fort, and the Morro Castle.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Every day.
          Duration: 9:00 AM- 1:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>If you wish to book a tour or a custom-designed tour more  suitable to your needs, please <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us.</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('fortalezas.jpg') %>" width="303" /></div>
</div>