<div class="divservice">
  <div class="title">
    <div id="pagetitle">Recorrido de Fortalezas</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>En la etapa colonial, el puerto de la Habana era crucial para el comercio en la isla, por lo que se construyó un sistema de fortalezas para su protección. Estas fortalezas forman parte del área declarada Patrimonio de la Humanidad por la UNESCO. En este recorrido usted podrá visitar el Castillo de la Real Fuerza, los restos de la antigua muralla de la ciudad, la Fortaleza de San Carlos de la Cabaña, y el Castillo de los Tres Reyes del Morro.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Todos los días.
          Duración: 9:00 AM- 1:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>Si desea reservar este recorrido, o realizar alguna modificación para que cumpla mejor sus expectativas,por favor <a class="emaillink" href="mailto:havanaexplore@gmail.com">contáctenos</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('fortalezas.jpg') %>" width="303" /></div>
</div>