<div class="divservice">
  <div class="title">
    <div id="pagetitle">Habano and Rum Tour</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>More than products to trade with, Cuban cigars and Rum have become the image of Cuba all over the world. These products have been manufactured in the island for centuries, and they are part of our traditions. In this specialized tour you will visit a cigar factory and the Cigar’s Museum. You will also have the opportunity to buy this product at specialized cigar stores. As to the Cuban rum, you will visit the Rum Museum, where you can taste the Havana Club Rum. The tour will continue with visits to the most famous bars of the old town: the Floridita and the Bodeguita del Medio.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Every day.
          Duration: 9:00 AM- 1:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>If you wish to book a tour or a custom-designed tour more  suitable to your needs, please <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us.</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('habano_ron.jpg') %>" width="303" /></div>
</div>