<div class="divservice">
  <div class="title">
    <div id="pagetitle">Museum Tour</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>Visit to any of the museums of the Historical Center at will:</p>
    <p>
    City Museum (former Palace of the Capitan Generals), House of the Arabs, the Old Automobile Museum, House of Africa, José Martí’s Birthplace, Colonial Art Museum, St. Francis of Assisi’s Convent, Goldsmith’s Museum, The Archeology Museum, Revolution Museum, Rum Museum, Cigar Museum, Museum of Fine Arts.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Every day.
          Duration: 9:00 AM- 1:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>If you wish to book a tour or a custom-designed tour more  suitable to your needs, please <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us.</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('museos.jpg') %>" width="303" /></div>
</div>