<div class="divservice">
  <div class="title">
    <div id="pagetitle">Recorrido de Museos</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>Visite cualquier museo de su elección:</p>
    <p>
    Museo de la Ciudad (antiguo Palacio de los Capitanes Generales), Casa Árabe, Museo del Automóvil, Casa de África, Casa Natal de José Martí, Museo de Arte Colonial, Convento de San Francisco de Asís, Museo del Orfebre, Museo de Arqueología, Museo de la Revolución, Museo del Ron, Museo del Habano y Museo de Bellas Artes.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Todos los días.
          Duración: 9:00 AM- 1:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>Si desea reservar este recorrido, o realizar alguna modificación para que cumpla mejor sus expectativas,por favor <a class="emaillink" href="mailto:havanaexplore@gmail.com">contáctenos</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('museos.jpg') %>" width="303" /></div>
</div>