<div class="divservice">
  <div class="title">
    <div id="pagetitle">Viñales Tour</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>Our Tour around Viñales town offers you the opportunity to visit Pinar del Río, one of Cuba’s provinces. Viñales is one of Cuba's great beauty spots. It is a valley, renowned for its tobacco farms called “vegas”, and the astonishing “mogotes”, giant humped rock formations capped with vegetation. The tour includes other stops at beautiful places that make this province the perfect place to enjoy nature.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Every day,Departure from Havana.
          Duration: 8:00 AM- 5:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>If you wish to book a tour or a custom-designed tour more  suitable to your needs, please <a class="emaillink" href="mailto:havanaexplore@gmail.com">contact us.</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('vinales.jpg') %>" width="303" /></div>
</div>