<div class="divservice">
  <div class="title">
    <div id="pagetitle">Recorrido en Viñales</div>
    <div id="message"></div>
  </div>
  <div class="information"><p>Nuestro Recorrido en Viñales le ofrece la oportunidad de visitar Pinar del Río, una de las provincias de nuestro país. Viñales es una de las regiones de Cuba más atractivas por su belleza natural. Es un valle, famoso por sus sembrados de tabaco llamados “vegas”, y los sorprendentes “mogotes”, inmensas formaciones rocosas cubiertas por vegetación. El recorrido incluye paradas en otros atractivos destinos que hacen de esta provincia el lugar perfecto para disfrutar de la naturaleza.</p>
    <table width="324" height="82" border="0" align="left">
      <tr>
        <td width="29"><img src="<%= image_path('calendar.jpg') %>" alt="" width="22" height="23" align="absmiddle" /></td>
        <td width="285">Todos los días,Salida desde La Habana.
          Duration: 8:00 AM- 5:00 PM</td>
      </tr>
      <tr>
        <td><img src="<%= image_path('mail.jpg') %>" alt="" width="27" height="26" align="left" /></td>
        <td>Si desea reservar este recorrido, o realizar alguna modificación para que cumpla mejor sus expectativas,por favor <a class="emaillink" href="mailto:havanaexplore@gmail.com">contáctenos</a></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>
  <div class="picsinformation"><img src="<%= image_path('vinales.jpg') %>" width="303" /></div>
</div>