<div class="divservice">
    <div class="titleimage">
        <img src="<%= image_path('home.jpg') %>" width="593" height="183" align="center" />
    </div>
    <div class="titleimage"><p>Havana was recently appointed “Wonder City”. It offers a wide variety of places of historical, cultural, religious, architectural and artistic value that make it an enjoyable place, capable of fulfilling any visitor’s expectations. Havana’s nightlife is very hectic, with cinemas, historic theatres, cabarets and nightclubs. The colonial architecture, the Cuban traditional culture, and the kindness of Havana's people are the biggest appeals of the city.</p></div>
</div>