<div class="divservice">
    <div class="titleimage">
        <img src="<%= image_path('home.es.jpg') %>" width="593" height="183" align="center" />
    </div>
    <div class="titleimage"><p>Recientemente La Habana fue declarada “Ciudad Maravilla”. Esta provincia ofrece una gran variedad de lugares de valor histórico, cultural, religioso, arquitectónico y artístico, que la hacen un agradable destino, capaz de satisfacer las expectativas de cualquier visitante. La vida nocturna de la ciudad es muy agitada, con  la posibilidad de visitar lugares tan variados como cines,teatros, cabarets y clubes nocturnos. La arquitectura colonial, la cultura tradicional cubana y la hospitalidad de los habaneros constituyen los mayores atractivos de la ciudad.</p></div>
</div>