<div class="divservice">
    <div class="title">
        <div id="pagetitle">Gallery</div>
    </div><div id="GaleryArea">
    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('1g.jpg') %>" title="Revolution Museum"><img alt="Revolution Museum" class="miniature" src="<%= image_path('1m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('2g.jpg') %>" title="Jose Marti Monument"><img alt="Jose Marti Monument" class="miniature" src="<%= image_path('2m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('3g.jpg') %>" title="Jesus Christ Statue"><img alt="Jesus Christ Statue" class="miniature" src="<%= image_path('3m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('4g.jpg') %>" title="Lonja del Comercio"><img class="miniature" alt="Lonja del Comercio" src="<%= image_path('4m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('5g.jpg') %>" title="Malecon Avenue"><img alt="Malecon Avenue" class="miniature" src="<%= image_path('5m.jpg') %>" width="119" height="106" /></a></div>

    </div>

    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('6g.jpg') %>" title="Countryside"><img alt="Countryside" class="miniature" src="<%= image_path('6m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('7g.jpg') %>" title="Havana City"><img alt="Havana City" class="miniature" src="<%= image_path('7m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('8g.jpg') %>" title="Seafront"><img alt="Seafront" class="miniature" src="<%= image_path('8m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('9g.jpg') %>" title="Real Fuerza Castle"><img alt="Real Fuerza Castle" class="miniature" src="<%= image_path('9m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('10g.jpg') %>" title="Old Square"><img alt="Old Square" class="miniature" src="<%= image_path('10m.jpg') %>" width="119" height="106" /></a></div>
    </div>
    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('11g.jpg') %>" title="Viñales"><img alt="Viñales" class="miniature" src="<%= image_path('11m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('12g.jpg') %>" title="Merchants Street"><img alt="Merchants Street" class="miniature" src="<%= image_path('12m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('13g.jpg') %>" title="Fine Arts Museum"><img alt="Fine Arts Museum" class="miniature" src="<%= image_path('13m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('14g.jpg') %>" title="Prehistoric Wall Painting"><img alt="Prehistoric Wall Painting" class="miniature" src="<%= image_path('14m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('15g.jpg') %>" title="Merchants Street "><img alt="Merchants Street " class="miniature" src="<%= image_path('15m.jpg') %>" width="119" height="106" /></a></div>
    </div>
</div>
</div>