<div class="divservice">
    <div class="title">
        <div id="pagetitle">Galería</div>
    </div><div id="GaleryArea">
    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('1g.jpg') %>" title="Museo de la Revolución"><img alt="Museo de la Revolución" class="miniature" src="<%= image_path('1m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('2g.jpg') %>" title="Memorial José Martí"><img alt="Memorial José Martí " class="miniature" src="<%= image_path('2m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('3g.jpg') %>" title="Estatua del Cristo de la Habana"><img alt="Estatua del Cristo de la Habana" class="miniature" src="<%= image_path('3m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('4g.jpg') %>" title="Lonja del Comercio"><img class="miniature" alt="Lonja del Comercio" src="<%= image_path('4m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('5g.jpg') %>" title="Avenida Malecón"><img alt="Avenida Malecón" class="miniature" src="<%= image_path('5m.jpg') %>" width="119" height="106" /></a></div>

    </div>

    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('6g.jpg') %>" title="Paisaje Rural"><img alt="Paisaje Rural" class="miniature" src="<%= image_path('6m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('7g.jpg') %>" title="Ciudad Habana"><img alt="Ciudad Habana" class="miniature" src="<%= image_path('7m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('8g.jpg') %>" title="Paseo Malecón"><img alt="Paseo Malecón" class="miniature" src="<%= image_path('8m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('9g.jpg') %>" title="Castillo de la Real Fuerza"><img alt="Castillo de la Real Fuerza" class="miniature" src="<%= image_path('9m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('10g.jpg') %>" title="Plaza Vieja"><img alt="Plaza Vieja" class="miniature" src="<%= image_path('10m.jpg') %>" width="119" height="106" /></a></div>
    </div>
    <div id="galpicsrow">

        <div class="galpics"><a href="<%= image_path('11g.jpg') %>" title="Viñales"><img alt="Viñales" class="miniature" src="<%= image_path('11m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('12g.jpg') %>" title="Calle Mercaderes"><img alt="Calle Mercaderes" class="miniature" src="<%= image_path('12m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('13g.jpg') %>" title="Museo de Bellas Artes"><img alt="Museo de Bellas Artes" class="miniature" src="<%= image_path('13m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('14g.jpg') %>" title="Mural de la prehistoria"><img alt="Mural de la prehistoria" class="miniature" src="<%= image_path('14m.jpg') %>" width="119" height="106" /></a></div>
        <div class="galpics"><a href="<%= image_path('15g.jpg') %>" title="Calle Mercaderes"><img alt="Calle Mercaderes" class="miniature" src="<%= image_path('15m.jpg') %>" width="119" height="106" /></a></div>
    </div>
</div>
</div>