<div class="divservice">
    <div class="title">
        <div id="pagetitle">Cuba</div>
        <div id="message"></div>
    </div>
    <div class="information"><p>The Cuban archipelago is made up of the Island of Cuba, the Isle of Youth and some 4,195 keys and islets. It is located at the entrance of the Gulf of Mexico. Descendants from Spaniards, Africans and Asians compose the local population, which is near 12 million residents. Nearly 3 million citizens live in the capital, Havana City. Other important cities are Santiago de Cuba, Camagüey, Holguín, Cienfuegos and Matanzas.</p>
        <p>Havana looks nowadays much as it was built centuries ago. Most of buildings stand today with the Spanish colonial architecture of those times, and big '50s and '60s American vehicles still dominate the streets. Old Havana is the city's oldest section, which has been declared a UNESCO World Heritage Site.</p>

    </div>
    <div class="picsinformation"><img src="<%= image_path('cuba.jpg') %>" width="303px"/></div>
</div>