<div class="divservice">
    <div class="title">
        <div id="pagetitle">Cuba</div>
        <div id="message"></div>
    </div>
    <div class="information"><p>La República de Cuba ocupa el archipiélago cubano, formado por las islas de Cuba, Isla de la Juventud y unos 4 195 cayos e islotes. La población, de cerca de 12  millones de habitantes, está compuesta por descendientes de españoles, africanos y asiáticos. Cerca de 3 millones de personas viven en La Habana, la capital. Otras ciudades importantes del país son Santiago de Cuba, Camagüey, Holguín, Cienfuegos y Matanzas.</p>
<p>Actualmente La Habana refleja la elegancia de una ciudad de siglos atrás, pues la mayoría de sus construcciones aún mantienen viva la arquitectura colonial española, y los autos americanos de las décadas de 1950 y 1960 aún recorren sus calles. La sección más antigua de la ciudad, conocida como la Habana Vieja, fue declarada Patrimonio de la Humanidad por la UNESCO. </p>
    </div>
    <div class="picsinformation"><img src="<%= image_path('cuba.jpg') %>" width="303px" /></div>
</div>