<div class="divservice">
    <div class="title">
        <div id="pagetitle">About us</div>
    </div>
    <div class="titleimage"><p>HavanaExplore´s team is made up of a group of professional driver-guides who pay taxes to the Cuban government. Given our experience, and great knowledge of this profession, we are capable of offering you an optimal service that will surely fulfill your expectations and make of your vacations an enjoyable and unforgettable experience.</p>
        <p><a href="mailto:havanaexplore@gmail.com" class="emaillink">havanaexplore@gmail.com</a> </p>
        <div class="photosareacontact">
            <div class="picsarea"><img src="<%= image_path('2.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('4.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('6.jpg') %>" alt="" width="193" height="174" /></div>
        </div>
    </div>
</div>