<div class="divservice">
    <div class="title">
        <div id="pagetitle">Quiénes somos</div>
    </div>
    <div class="titleimage"><p>El equipo de HavanaExplore está formado por un grupo de choferes-guías que pagan impuestos al gobierno cubano. Dada nuestra experiencia y conocimiento de la profesión, somos capaces de ofrecerle un servicio óptimo, que de seguro cumplirá sus expectativas y hará de sus vacaciones una agradable e inolvidable experiencia.</p>
        <p><a href="mailto:havanaexplore@gmail.com" class="emaillink">havanaexplore@gmail.com</a> </p>
        <div class="photosareacontact">
            <div class="picsarea"><img src="<%= image_path('2.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('4.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('6.jpg') %>" alt="" width="193" height="174" /></div>
        </div>
    </div>
</div>