<div class="divservice">
    <div class="title">
        <div id="pagetitle">Contact us</div>
    </div>
    <div class="titleimage"><p>If you wish to get more information or book any of our private tours, please <a href="mailto:havanaexplore@gmail.com" class="emaillink">contact us</a> and we will answer you as soon as possible. </p>
        <p><a href="mailto:havanaexplore@gmail.com" class="emaillink">havanaexplore@gmail.com</a> </p>

        <div class="photosareacontact">
            <div class="picsarea"><img src="<%= image_path('1.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('3.jpg') %>" alt="" width="194" height="173" /></div>
            <div class="picsarea"><img src="<%= image_path('5.jpg') %>" alt="" width="193" height="174" /></div>
        </div>
    </div>
</div>